<nav id="topnav">
  <a href="/">Home</a>
  <a href="resume-adam-carpenter.pdf">Resume</a>
  <a href="http://gitlab.com/53hornet">GitLab</a>
  <a href="http://linkedin.com/in/adam-carpenter">LinkedIn</a>
  <a href="http://53hor.net">53hornet Project</a>
  <a href="mailto:atc@53hor.net">Email</a>
</nav>
