<nav id="topnav">
  <!--<img src="/logo.png">-->
  <a href="/">Home</a>
  <a href="/db">Parts Database</a>
  <a href="http://youtube.com/my53hornet">YouTube Channel</a>
  <a href="/gallery">Photo Gallery</a>
  <a href="/journal">Journal</a>
  <a href="/contact">Contact Us</a>
</nav>
