/* stylesheet for 53hor.net */

/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

:root {
  /* custom colors */
  --balboa:#1a5a72;
}

@media screen and (max-width: 1000px) {
  article {
    position: relative;
    padding: 0;
    display: inline;
  }

  #topnav {
    position: static;
    top: auto;
  }

  #topnav img {
    display: inline;
  }

  #topnav a {
    float: none;
    width: 100%;
  }

  #TOC {
    display: none;
  }

}

#TOC {
  box-shadow: 3px 7px 5px black;
  position: fixed;
  width: 20%;
  height: 100%;
  margin: 0;
  background-color: white;
  box-shadow: 0 2px 5px black inset;
  overflow: auto;
}

#TOC ul {
  overflow: none;
  height: 100%;
  list-style-type: none;
  color: var(--balboa);
  padding-left: 0.5em;
}

#TOC li a {
  text-decoration: none;
  display: block;
  color: gray;
  font-weight: 400;
  font-size: 0.8em;
  font-style: italic;
  transition: 0.25s;
}

#TOC li a:hover {
  color: black;
}

#topnav {
  box-shadow: 0 2px 5px black;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--balboa);
  z-index: 1;
  display: table;
}

#topnav img {
  display: table-cell;
  vertical-align: bottom;
}

#topnav a {
  float: left;
  display: table-cell;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

#topnav a:hover {
  color: var(--balboa);
  background-color: white;
  box-shadow: 0 0 5px black;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  font-family: "Merriweather", serif;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}

article {
  height: 100%;
  margin-left: 20%;
  margin-top: 3em;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}

figure {
  margin: none;
  padding: 1em;
  margin-left: 25%;
  width: 50%;
  background-color: white;
  box-shadow: 0 5px 5px black;
}

figure img {
  width: 100%;
}

figure figcaption {
  color: black;
  text-align: right;
  font-weight: 400;
  font-size: 0.8em;
  font-family: "Satisfy", sans-serif;
}

hr {
  color: white;
  margin-left: 4em;
  margin-right: 4em;
  border-bottom: none;
}

p {
  text-align: justify;
  text-indent: 2em;
  font-weight: 400;
  font-size: 0.9em;
  background-color: white;
  margin: 1em;
  padding: 1em;
  box-shadow: 0 5px 5px black;
}

h3 { /* decorative page title */
  font-style: italic;
  font-weight: 900;
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  padding-top: 1.5em;
}

h4 { /* decorative page subtitle */
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  color: white;
}

h1 { /* section title */
  font-weight: 700;
  font-size: 1em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: 1em;
}

h2 { /* subsection title */
  font-weight: 700;
  font-size: 1em;
  color: white;
  text-shadow: 3px 3px 3px black;
  margin: 1em;
}

