<nav id="topnav">
    <a href="/">Welcome</a>
    <a href="/rsvp">RSVP</a>
    <a target="_blank" href="https://registry.theknot.com/adam-carpenter-amy-squire-august-2019-oh/32266389">Registry</a>
    <!--<a href="/party">Bridal Party</a>-->
    <a href="/accomodations">Accomodations</a>
    <a href="/transportation">Transportation</a>
    <a target="_blank" href="https://www.putinbay.com/attractions.htm">Attractions</a>
    <!--<a href="/story">Our Story</a>-->
    <a target="_blank" href="https://nextcloud.53hor.net/index.php/apps/gallery/s/D4fLrzMoSZ4PQdH#">Photo Gallery</a>
    <a target="_blank" href="https://nextcloud.53hor.net/index.php/call/zwnqbv5g">Chat Room</a>
</nav>
